<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="https://cdn-europe1.lanmedia.fr/var/europe1/storage/images/europe1/sport/covid-19-a-cinq-jours-de-la-reouverture-les-salles-de-sport-dans-les-starting-blocks-4049598/57251990-1-fre-FR/Covid-19-a-cinq-jours-de-la-reouverture-les-salles-de-sport-dans-les-starting-blocks.jpg" width="500" /> </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mt-4 mb-3"> 
                                <h5 class="text-uppercase">CARDIO</h5>
                                <div class="price d-flex flex-row align-items-center"> <span class="act-price">$20</span>
                                    
                                </div>
                            </div>
                            <p class="about">Ignite your cardiovascular fitness with our dynamic cardio membership. Immerse yourself in a world of invigorating workouts, featuring cutting-edge equipment and diverse cardio exercises tailored to elevate your endurance. Join our community of health enthusiasts and experience the exhilaration of a cardio-centric membership, designed to optimize your heart health and boost your overall well-being.</p>
                            <div class="sizes mt-5">
                                <h6 class="text-uppercase">duration</h6> <label class="radio"> <input type="radio" name="size" value="1" checked> <span>1 month</span> </label> <label class="radio"> <input type="radio" name="size" value="3"> <span>3 months</span> </label> <label class="radio"> <input type="radio" name="size" value="6"> <span>6 months</span> </label>   
                            </div>
                            <div class="cart mt-4 align-items-center"> <button (click)="gotoregister()" class="btn btn-danger text-uppercase mr-2 px-4">REGISTER</button> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
