<nav class="navbar navbar-expand-lg bg-black sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" >
      <img src="https://img.freepik.com/vecteurs-premium/logo-du-centre-remise-forme_25327-170.jpg" alt="Logo" width="100" height="100" >
    </a>
    <div class="description">
      fitness club open to all
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-link active" [routerLink]="['home']"   aria-current="page" href="#">Home</a>
        <a class="nav-link active" [routerLink]="['sports']"  aria-current="page" href="#">sports</a>
       
        <a class="nav-link active"  [routerLink]="['login']" aria-current="page" href="#">login</a>
        
      </div>
    </div>
  </div>
</nav>
