.image-div {
    background-image: url('https://img.grouponcdn.com/deal/3ghJwZGouvFnoEu3M6EfhqHkEB3V/3g-2048x1229/v1/t600x362.jpg');
    background-size: 100%; /* Adjust to your preferred size (e.g., 'contain', '100% 100%', etc.) */
    background-position: center; /* Adjust the positioning as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    margin-top: 10px;
    
  }
  .container h1{
    margin-top: 150px;
    margin-bottom: 80px;
    color:yellow
    
  }

  .container h3{
    color: white;
  }
  
  .container button{
    margin: 30px;
    margin-bottom: 150px;
  }
  